In [1]:
t = tuple()

In [2]:
type(t)

tuple

In [3]:
t = ('a',)

In [4]:
t

('a',)

In [5]:
print("type is", type(t))

type is <class 'tuple'>

In [6]:
tpl = ('a', 'b', 'c')

In [7]:
tpl

('a', 'b', 'c')

In [8]:
tuple('sequence')

('s', 'e', 'q', 'u', 'e', 'n', 'c', 'e')

In [9]:
x, y, z = tpl

In [10]:
x

'a'

In [11]:
y

'b'

In [12]:
z

'c'

In [13]:
'a' in tpl

True

In [14]:
'z' in tpl

False

---

In [15]:
tupl = 1, 2, 3, 4, 5

In [16]:
print("tuple value at index 1 is", tupl[1])

tuple value at index 1 is 2

In [17]:
print("tuple[1:3] is ", tupl[1:3])

tuple[1:3] is  (2, 3)

In [18]:
tupl2 = (11, 12, 13)

In [19]:
tupl3 = tupl + tupl2

In [20]:
tupl3

(1, 2, 3, 4, 5, 11, 12, 13)

In [21]:
tupl*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [22]:
5 in tupl

True

In [23]:
tupl[-1]

5

In [24]:
len(tupl)

5

In [25]:
max(tupl)

5

In [26]:
min(tupl)

1

In [27]:
tupl[1] = 5

TypeError: 'tuple' object does not support item assignment

In [28]:
print(tupl == tupl2)

False

In [29]:
print(tupl>tupl2)

False

---

In [30]:
l = ['one', 'two']

In [35]:
x, y = l

In [36]:
x, y

('one', 'two')

In [37]:
x, y = y, x

In [38]:
x, y

('two', 'one')